<!DOCTYPE html>
<html>
    <body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="about">
            <h1 align=center>About</h1>
            <p> Nexa aims to provide a convenient, clean, and environmentally sound.</p>
            <h3 align=center>Convenient</h3>
            <p align=left>Our customers are busy with the demands of their lives. They want waste disposal 
             to be quick and easy. This should be an errand they can take care of quickly</p>
        </div>
    {% endblock %}    
  </body>
</html> 