<!DOCTYPE html>
<html>
    <body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="hazmat">
            <h1 align=center>Batteries</h1>
            <p> NEXA accepts most batteries for recycle and disposal free of charge</p>
            <h3 align=center>Batteries are the Most frequent cause of fires at the transfer station</h3>
            <p>Below is information about the different types of batteries and how to dispose of them. If you are ever unsure of what kind of batteries you have please bring them in, 
                we will sort them for you free of charge.</p>
            <h4>Battery Types</h4>
            <h5>Alkaline Batteries</h5>
            <p>Alkaline batteries are the most common type of battery. There are not dangerous and can be disposed of with normal garbage. While they are recylceable, alkaline battery
                recycling is extremely cost prohibitive. 
            </p>
            <h5>Lithium Ion and Lithium Polymer Batteries</h5>
            <p>Lithium batteries are a rechargeable battery that is common in electronic appliances and tools. These batteries are the most common cause of fires at the transfer station.
                They are easlily recycleable and we have a designated place to recycle them for customers. NEXA accepts most Litium batteries free of charge, the exception being the 
                larger Lithium batteries for use in cars.
            </p>
            <h5>Nickel Cadmium and Nickel-Metal Hydride</h5>
            <p>Ni-Cd and Ni-MH batteries are rechargeable batteries commonly used for portable powertools. They are also dangerous to dispose of with normal garbage. NEXA recycles Nickel 
                based batteries free of charge.
            </p>
            <h5>Lead Acid Batteries</h5>
            <p>Commonly used in surge protective electronics and cars. Nexa Recycles Lead Acid Batteries free of charge</p>
        </div>
    {% endblock %}    
  </body>
</html> 