<!DOCTYPE html>
<html>
    <body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="hazmat">
            <h1 align=center>Hazardous Waste</h1>
            <p> As a Hazardous Waste facility NEXA can accept most chemicals and other dangerous items and dispose of them safely</p>
            <h3 align=center>Hazardous Waste disposal information</h3>
            <p>This part is going to need some work. Ideally there will besome sort of search bar so that a visitor can search an item and quickly \
                find the best appropriate disposal method</p>
            <p>battery specific section</p>
        </div>
    {% endblock %}    
  </body>
</html> 