<!DOCTYPE html>
<html>  
    <body>
    {% extends "layout.html" %}
    {% block content %}
        <div class="hours">
            <h1 align="center">Hours</h1>
            <p> Unacceptable Materials include: Dirt, Rocks, Sod, Large Logs, CNG tanks, and Asbestos</p>
            <p> Monday 7 AM to 6 PM</p>
            <p> Tuesday 7 AM to 6 PM</p>
            <p> Wednesday 7 AM to 6 PM</p>
            <p> Thursday 7 AM to 6 PM</p>
            <p> Friday 7 AM to 6 PM</p>
            <p> Saturday 7 AM to 6 PM </p>
            <p> Sunday closed</p>
            <h3 align="center">Dont forget to strap or tarp your load! Uncovered loads will be charged a additional $10 fee</h3>
            <p>For the safety of our employees be aware that the tipping floor is only as safe as you make it. Please keep children under the age of 10 
                inside your vehicle and refrain from cell phone use on the tipping floor.
            </p>
        </div>
    {% endblock %}    
  </body>
</html> 